# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: :9001
  tls:
    mode: mtls
    cert-path: /certs/public-key
    key-path: /certs/private-key
    ca-cert-paths:
      - /certs/ca-certificate
monitoring:
  server:
    endpoint: :2119

verifier:
  endpoints:
    - verifier:5001
  tls: &ClientTLS
    mode: mtls
    cert-path: /client_certs/public-key
    key-path: /client_certs/private-key
    ca-cert-paths:
      - /client_certs/ca-certificate
validator-committer:
  endpoints:
    - vc:6001
  tls: *ClientTLS

dependency-graph:
  num-of-local-dep-constructors: 1
  waiting-txs-limit: 100_000
  per-channel-buffer-size-per-goroutine: 10

logging:
  enabled: true
  development: false
  level: INFO
  name: coordinator
