# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
---
server:
  endpoint: :7050
  tls:
    # TLS configuration being built based on the tls mode chosen: none, tls, mtls.
    mode: mtls
    cert-path: /server-certs/public-key.pem
    key-path: /server-certs/private-key.pem
    ca-cert-paths:
      - /server-certs/ca-certificate.pem

block-size: 1024
block-timeout: 30s
send-genesis-block: true
crypto-material-path: /root/material

logging:
  logSpec: "info"
  format: >-
    %{color}%{time:2006-01-02 15:04:05.000 MST} [%{module}] %{shortfunc}
    -> %{level:.4s}%{color:reset} %{message}

