# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ThisService.GrpcEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.GrpcTLS.Mode }}
    key-path: {{ .ThisService.GrpcTLS.KeyPath }}
    cert-path: {{ .ThisService.GrpcTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.GrpcTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
monitoring:
  endpoint: {{ .ThisService.MetricsEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.MetricsTLS.Mode }}
    key-path: {{ .ThisService.MetricsTLS.KeyPath }}
    cert-path: {{ .ThisService.MetricsTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.MetricsTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

verifier:
  endpoints:
    {{- range .Services.Verifier }}
    - {{ .GrpcEndpoint }}
    {{- end }}
  tls: &ClientCreds
    mode: {{ .ClientTLS.Mode }}
    key-path: {{ .ClientTLS.KeyPath }}
    cert-path: {{ .ClientTLS.CertPath }}
    ca-cert-paths:
      {{- range .ClientTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
validator-committer:
  endpoints:
   {{- range .Services.VCService }}
    - {{ .GrpcEndpoint }}
   {{- end }}
  tls: *ClientCreds

dependency-graph:
  num-of-local-dep-constructors: 1
  waiting-txs-limit: 100_000
  # Add monitoring configuration here if applicable
per-channel-buffer-size-per-goroutine: 10

logging:
  enabled: {{ .Logging.Enabled }}
  level: {{ .Logging.Level }}
  caller: {{ .Logging.Caller }}
  development: {{ .Logging.Development }}
  output: {{ .Logging.Output }}
  name: coordinator
