# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0

loadgen-client:
{{ include "endpointWithTLS" (dict "Endpoint" .Services.LoadGen.GrpcEndpoint "TLS" .ClientTLS) | indent 2 }}
{{ include "loadgenConfig" . | indent 0 }}
