# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ServiceEndpoints.Server | default "localhost:0" }}
  tls:
    mode: {{ .ServiceTLS.Mode }}
    cert-path: {{ .ServiceTLS.CertPath }}
    key-path: {{ .ServiceTLS.KeyPath }}
    ca-cert-paths:
      {{- range .ServiceTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
block-size: {{ .BlockSize }}
block-timeout: {{ .BlockTimeout }}
config-block-path: {{ .ConfigBlockPath }}
send-config-block: true

logging:
  enabled: {{ .Logging.Enabled }}
  level: {{ .Logging.Level }}
  caller: {{ .Logging.Caller }}
  development: {{ .Logging.Development }}
  output: {{ .Logging.Output }}
  name: orderer
