# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
servers:
  {{- range .Services.Orderer }}
  - endpoint: {{ .GrpcEndpoint }}
{{ include "tlsConfig" .GrpcTLS | indent 4 }}
  {{- end }}

block-size: {{ .BlockSize }}
block-timeout: {{ .BlockTimeout }}
artifacts-path: {{ .Policy.ArtifactsPath }}
send-genesis-block: true

{{ include "logging" . | indent 0 }}
