# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
{{ include "service" . | indent 0 }}
{{ include "rateLimit" . | indent 2 }}

{{ include "database" . | indent 0 }}

max-request-keys: {{ .MaxRequestKeys }}
{{- if .QueryTLSRefreshInterval }}
tls-refresh-interval: {{ .QueryTLSRefreshInterval }}
{{- end }}
