# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ThisService.GrpcEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.GrpcTLS.Mode }}
    key-path: {{ .ThisService.GrpcTLS.KeyPath }}
    cert-path: {{ .ThisService.GrpcTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.GrpcTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
  keep-alive:
    params:
      time: 300s
      timeout: 600s
    enforcement-policy:
      min-time: 60s
      permit-without-stream: false
monitoring:
  endpoint: {{ .ThisService.MetricsEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.MetricsTLS.Mode }}
    key-path: {{ .ThisService.MetricsTLS.KeyPath }}
    cert-path: {{ .ThisService.MetricsTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.MetricsTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

orderer:
  channel-id: {{ .Policy.ChannelID }}
  consensus-type: BFT
  organizations:
    org0:
      endpoints:
        {{- range .Services.Orderer }}
        - id=0,broadcast,deliver,{{ .GrpcEndpoint }}
        {{- end }}
      ca-cert-paths:
        {{- range .ClientTLS.CACertPaths }}
        - {{ . }}
        {{- end }}
  tls:
    mode: {{ .ClientTLS.Mode }}
    cert-path: {{ .ClientTLS.CertPath }}
    key-path: {{ .ClientTLS.KeyPath }}
    common-ca-cert-paths:
      {{- range .ClientTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
committer:
  endpoint: {{ .Services.Coordinator.GrpcEndpoint }}
  tls:
    mode: {{ .ClientTLS.Mode }}
    cert-path: {{ .ClientTLS.CertPath }}
    key-path: {{ .ClientTLS.KeyPath }}
    ca-cert-paths:
      {{- range .ClientTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

ledger:
  path: {{ .LedgerPath }}
  sync-interval: 100

notification:
  max-timeout: 10m
  max-concurrent-streams: 0  # 0 = unlimited

last-committed-block-set-interval: 5s
waiting-txs-limit: 20_000_000
channel-buffer-size: 100

bootstrap:
  genesis-block-file-path: {{ .ConfigBlockPath }}

logging:
  logSpec: {{ .Logging.LogSpec }}
  format: {{ .Logging.Format }}
