# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ThisService.GrpcEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.GrpcTLS.Mode }}
    key-path: {{ .ThisService.GrpcTLS.KeyPath }}
    cert-path: {{ .ThisService.GrpcTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.GrpcTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
monitoring:
  endpoint: {{ .ThisService.MetricsEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.MetricsTLS.Mode }}
    key-path: {{ .ThisService.MetricsTLS.KeyPath }}
    cert-path: {{ .ThisService.MetricsTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.MetricsTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

database:
  endpoints:
    {{- range .DB.Endpoints }}
    - {{ . }}
    {{- end }}
  username: "yugabyte"
  # TODO: pass password via environment variable
  password: {{ .DB.Password }}
  database: {{ .DB.Name }}
  load-balance: {{ .DB.LoadBalance }}
  tls:
    mode: {{ .DB.TLS.Mode }}
    ca-cert-path: {{ .DB.TLS.CACertPath }}
  max-connections: 10
  min-connections: 5
  retry:
    max-elapsed-time: 1h

resource-limits:
  max-workers-for-preparer: 1
  max-workers-for-validator: 1
  max-workers-for-committer: 20
  min-transaction-batch-size: {{ .VCMinTransactionBatchSize | default 1 }}
  timeout-for-min-transaction-batch-size: {{ .VCTimeoutForMinTransactionBatchSize | default "2s" }}

logging:
  logSpec: {{ .Logging.LogSpec }}
  format: {{ .Logging.Format }}
