# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ThisService.GrpcEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.GrpcTLS.Mode }}
    key-path: {{ .ThisService.GrpcTLS.KeyPath }}
    cert-path: {{ .ThisService.GrpcTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.GrpcTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
monitoring:
  endpoint: {{ .ThisService.MetricsEndpoint | default "localhost:0" }}
  tls:
    mode: {{ .ThisService.MetricsTLS.Mode }}
    key-path: {{ .ThisService.MetricsTLS.KeyPath }}
    cert-path: {{ .ThisService.MetricsTLS.CertPath }}
    ca-cert-paths:
      {{- range .ThisService.MetricsTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

parallel-executor:
  parallelism: 40
  batch-time-cutoff: {{ .VerifierBatchTimeCutoff | default "10ms" }}
  batch-size-cutoff: {{ .VerifierBatchSizeCutoff | default 50 }}
  channel-buffer-size: 50

logging:
  logSpec: {{ .Logging.LogSpec }}
  format: {{ .Logging.Format }}
