# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ServiceEndpoints.Server | default "localhost:0" }}
  tls:
    mode: {{ .ServiceTLS.Mode }}
    key-path: {{ .ServiceTLS.KeyPath }}
    cert-path: {{ .ServiceTLS.CertPath }}
    ca-cert-paths:
      {{- range .ServiceTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
monitoring:
  endpoint: {{ .ServiceEndpoints.Metrics | default "localhost:0" }}
  tls:
    mode: {{ .MonitorTLS.Mode }}
    key-path: {{ .MonitorTLS.KeyPath }}
    cert-path: {{ .MonitorTLS.CertPath }}
    ca-cert-paths:
      {{- range .MonitorTLS.CACertPaths }}
      - {{ . }}
      {{- end }}

parallel-executor:
  parallelism: 40
  batch-time-cutoff: {{ .VerifierBatchTimeCutoff | default "10ms" }}
  batch-size-cutoff: {{ .VerifierBatchSizeCutoff | default 50 }}
  channel-buffer-size: 50

logging:
  enabled: {{ .Logging.Enabled }}
  level: {{ .Logging.Level }}
  caller: {{ .Logging.Caller }}
  development: {{ .Logging.Development }}
  output: {{ .Logging.Output }}
  name: verifier
